@import "tailwindcss";

@keyframes card-fading-in {

    0%{
        opacity: 0;
        transform: translateY(10px);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes card-fading-out {
    0% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }

    100% {
        opacity: 0;
        transform: translateY(10px) scale(0.2);
        transform-origin: center;
    }
}

@keyframes card-exit-stage-right {
    0% {
        opacity: 1;
    }

    20%{
        transform: translateX(-20px);
    }

    100% {
        opacity: 0;
        transform: translateX(100px);
    }
}




.mainapp::-webkit-scrollbar {
    display: none;
}
  
.mainapp{
    overflow: hidden;
}


.card{
    @apply flex transition-all flex-col duration-300 ease-in hover:scale-115 rounded-2xl flex-wrap justify-between p-2 min-h-[10vh] text-red-50;
    background-color: rgba(0, 0, 0, 0.625);
    transition: all 0.3s ease-in-out; 
}


.card h4{
    @apply text-xs font-light
}

.card span{
    @apply text-lg font-semibold
}

.card p{
    @apply font-medium text-[0.6rem] self-end
}

@keyframes card-enter-animation {
    0% {
        opacity: 0;
        transform: translateX(+20px);
    }

    20%{
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes card-exit-animation {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    20%{
        transform: translateX(-20px);
    }

    100% {
        opacity: 0;
        transform: translateX(20px);
    }
}

.card-transition-enter-active {
    animation: card-enter-animation 0.3s ease-out forwards;
}

.card-transition-exit-active {
    animation: card-exit-animation 0.3s ease-in forwards;
}
